<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>

    <body>
        <%- include('../partials/navbar') %>
            <main>
                <h1>Skills</h1>
                <ul>
                    <% skills.forEach(skill=> {%>
                        <li>
                            <a href="/skills/<%=skill.name%>"><%=skill.name%>: Level <%=skill.level%></a>
                        </li>
                    <%})%>
                </ul>
                <form action="/skills/new" method="GET">
                    <button class="btn btn-sm btn-primary" type="submit">Add New Skill</button>
                </form>
            </main>
    </body>

</html>